.loading-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  background: var(--color-black);
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow: hidden;
}

.loading-indicator__logo {
  width: 200px;
  height: 120px;
  background-image: url("./../../../assets/images/logo-chrome.png");
  background-color: var(--color-black);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.loading-indicator__label {
  position: absolute;
  bottom: 40px;
  z-index: 1;
}

.loading-indicator__drop {
  position: absolute;
  display: block;
  top: 88px;
  left: calc(50vw + 0px);
  width: 6px;
  height: 11px;
  background-image: url(./../../../assets/images/drop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  animation: drop 3s ease-out infinite;
}

.loading-indicator__drop.loading-indicator__drop--small {
  width: 4px;
  height: 7px;
  animation-duration: 3.5s;
}

.loading-indicator__drop.loading-indicator__drop--delay-300 {
  animation-delay: 0.3s;
}


.loading-indicator__fill {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
  animation: grow 90s ease-in forwards;
  transform-origin: left bottom;
}

.loading-indicator__fill:before {
  content: "";
  display: block;
  position: absolute;
  height: 10vh;
  width: 100%;
  left: 0;
  top: -10vh;
  background-color: var(--color-red);
  animation: wave 2s ease-in-out infinite;
  transform-origin: left bottom;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(80);
  }

  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}