.wireframe-cover {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 1s 3s forwards;
}

.wireframe-cover--small {
  width: 80px
}

.wireframe-cover__img {
  width: 100%;
}

.wireframe-cover__label {
  display: block;
  text-align: center;
  color: var(--color-white);
  margin-top: 8px;
  animation: pulse 5s infinite;
}
