.info {
  position: fixed;
  bottom: 0;
  left: 12px;
  right: 12px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 99;
}

.info__content {
  max-width: 640px;
  margin: 0 auto;
}

.info__explanation {
  padding: 24px 0;
  box-sizing: border-box;
}

.info__copy {
  text-align: left;
  line-height: 1.5;
  color: var(--primary-color);
}

.info__cta {
  display: block;
  margin: 24px 0;
  width: 100%;
}
