.media {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.media > img {
  width: 40%;
  margin: 0 12px 0 0;
}

.media > div {
  flex: 1;
  color: var(--color-white);
}

.media__title {
  position: relative;
  font-size: 8vw;
  line-height: 1.4;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.media__subtitle {
  display: block;
  font-size: 4vw;
}


/* clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%); */