:root {
  --color-black: #202124;
  --color-white: #d5d3d3;
  --color-red: #e2192c;
  --color-grey: #cccccc;
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(./assets/fonts/ArchivoBlack-Regular.ttf) format("truetype");
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
  color: var(--color-white);
}

button {
  text-transform: uppercase;
  background: var(--color-white);
  color: var(--color-red);
  border: none;
  padding: 12px;
  font-weight: bold;
  font-family: "Archivo Black", sans-serif;
  min-width: 120px;
  height: 56px;
}

button:active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul + ul {
  margin-top: 12px;
}

li {
  display: inline-block;
  margin-bottom: 4px;
}

li:last-child {
  margin-bottom: 0;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
